.navbar-nav{
text-align:center;
}
.box{
background-color:powderblue;
    margin: 10vw;
    padding: 2vw;
    font-family: monospace;
    font-size: large;
    font-weight: bolder;
    -webkit-transition: all 1s 0s ease;
-moz-transition: all 1s 0s ease;
-o-transition: all 1s 0s ease;
transition: all 1s 0s ease;
}

.container-fluid{
margin-top:2%;
margin-bottom:2%
}
.top{
  text-align: center;
}
p{
  font-size:4vw;
  font-color:#121212;
}
.navbar-collapse{
  padding-left: 75%;
}
h1{
  font-family: cursive;
  text-align: center;
  text-shadow: 2px;
  font-size:2rem;
}
